<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader, RizkyFadilah</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
   <div class="overlay"></div>
   <form action="/ytdl/result" method="POST" class="box">
       <div class="header">
           <h4>YouTube Downloader</h4>
           <p>Masukan Url Kedalam box untuk mendownload audio YouTube<br>jika error silahkan report ke contact saya</p>
       </div>
       <div class="login-area">
           <input type="text" class="username" placeholder="Visitor: <%= visit %>" disabled>
           <input type="text" class="username" placeholder="IP Kamu: <%= ip %>" disabled>
        </div>
<div class="login-area">
           <input type="url" class="username" name="url" placeholder="Input Your Url" required>
           <input type="text" class="username" name="token" value="<%= token %>" hidden>
           <input type="submit" value="Download" class="submit">
           <a href="https://wa.me/6282387804410">Contact Me</a>
       </div>
   </form> 
</body>
</html>
